
.btn-cambiar-estado {
  background-color: #007bff; 
  color: #fff; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
  margin-right: 10px; 
  cursor: pointer; 
}


.btn-cambiar-estado:hover {
  background-color: #0056b3;
  color: white;
}


.btn-cambiar-estado[data-id][href*='/Iniciado'] {
  background-color: #ffc107;
  margin-left: 20px;
}

.btn-cambiar-estado[data-id][href*='/Completado'] {
  background-color: #28a745;
}

.btn-cambiar-estado {
  display: inline-block;
  text-align: center;
}

.estado-label {
    margin-top: 25px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.estado-no-iniciado {
    background-color: red;
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    width: 98px;
    color: white;
}

.estado-completado {
    background-color: green;
    margin-top: 40px;
    width: 98px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.estado-iniciado {
    background-color: yellow;
   margin-top: 40px;
   width: 98px;
    font-size: 16px;
    text-align: center;
    color: black;
}

.estado-desconocido {
    background-color: gray;
    color: white;
}
