h2{

  margin-left: -200px;
}


table {
  border-collapse: collapse;
  margin-left: -50px;
  width: 150%;
  margin-top: 10px;
  text-align: left;
}


th, td {
  padding: 10px;
  text-align: left;

}

th {
  background-color: #f2f2f2;
}

td {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.reporte-btn{
  margin-top: 10px;
  margin-left: 650px;
  

}

#reporte-btn {
  background-color: darkred;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 75px;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

#reporte-btn:hover{
  background-color: darkred;
  transform: scale(1.15);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 600px;
}

#search-input {
  flex: 1;
  height: 100%;
  padding: 0 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}

#search-input::placeholder {
  color: #999;
}

#search-input:focus {
  outline: none;
}


.search-button {
  width: 40px;
  height: 100%;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}




.reporte-btn{
  margin-top: 10px;
  margin-left: 650px;
  

}



.reporte-btn-container {
    display: flex;
    justify-content: flex-end;
   margin-right: -160px;
}

.reporte-btn {
    margin-left: 10px;
}



#reporte-btn-excel {
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 75px;
    margin-left: 10px;
 transition: background-color 0.3s ease, transform 0.3s ease;
}

#reporte-btn-excel:hover{
  background-color: darkgreen;
  transform: scale(1.15);
}
